<!DOCTYPE html>
@using System.Web.Optimization
@using OnlineShop.Models.OnlineShopDatabase;
<html>
<head>
    @Scripts.Render("~/bundle/BasicScripts")
</head>
<body>
    <link type="text/css" rel="stylesheet" href="~/Content/Master_page.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />


    <nav class="navbar navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li>
                <a href="http://localhost:18157/MainPage/Index">
                    <p>Main</p>
                </a>
            </li>
            <li>
                @Html.ActionLink("Methods of delivery", "MethodsOfDelivery", "Menu")
            </li>
            <li>
                @Html.ActionLink("About Shop", "AboutShop", "Menu")
            </li>
            <li>
                @Html.RouteLink("Contacts", "MenuRoute")
            </li>
            <li class="dropdown">
                @if (!Request.IsAuthenticated)
                {
                    <a href="#">Sign in</a>
                    <a href="#">Sign up</a>


                    <div class="dropdown-menu">

                        @using (Html.BeginForm(
                "startSignIn", "Auth", new { returnUrl = Request.RawUrl },
                FormMethod.Post))
                        {
                            <input type="submit" value="Sign in" />
                        }

                        <div>
                            <span>or</span>
                        </div>
                        <p>
                            Sign up to be able to buy products from shop
                            @Html.ActionLink("Create accaunt", "SignUp", "Auth",
                            new { returnUrl = Request.RawUrl }, new { })
                        </p>
                    </div>
                }
                else
                {
                            @Html.ActionLink(User.Identity.Name, "showUserProfile", "Auth",
                            new { returnUrl = Request.RawUrl }, new { })
                            @Html.ActionLink("[logout]", "SignOut", "Auth",
                            new { returnUrl = Request.RawUrl }, new { })
                }
            </li>

        </ul>
    </nav>
    <div>
        @{
            OnlineShopDbContext goods = new OnlineShopDbContext();
        }
        @Html.Partial("~/Views/PartialViews/showCatButton.cshtml", goods)
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="navbar navbar-static-bottom">
        <div>

        </div>
        <p>This is application created for showing my skills,no commercial using</p>
    </footer>
</body>
</html>
