@model OnlineShop.Models.OnlineShopDatabase.Goods.Product
    @using OnlineShop.Models.OnlineShopDatabase.Goods;
<link rel="stylesheet" type="text/css" href="~/Content/ShowOneProduct.css?Wednesday 20th of July 2016 07:45:21 AM" />
<script  type="text/javascript" src="~/Scripts/BuyProduct.js"></script>
<div id="ProductHead">
    <h1>
        @Model.Name @Model.Article @Model.Price $ 
    </h1>
    <h2>
        Date Added:@Model.DateAdded
    </h2>
</div>   
<div>
    <div id="productPicture">
        <img src="@Url.Content(Model.Picture)" alt="Image" />
    </div>
    <div id="productDiscriptions">
        <dl>
            @foreach (DescriptionParameters desc in Model.Descriptions)
            {
                <dt style="font-weight:bold">@desc.Description:</dt>
                <dd style="margin-top:10px">@desc.DescriptionParameter</dd>
            }
        </dl>
        <br />
        <button class="BuyOperations">
            Buy
        </button>
    </div>
</div> 



             
           
               

