
@model OnlineShop.Models.Product
    @using OnlineShop.Models;
<div id="ProductHead">
    <h1>
        @Model.Name @Model.Article @Model.Price $ 
    </h1>
    <h2>
        Date Added:@Model.DateAdded
    </h2>
</div>   
<div>
    <div id="productPicture">
        <img src="@Url.Content(Model.Picture)" alt="Image" />
    </div>
    <div id="productDiscriptions">
        <dl>
            @foreach (DescriptionParameters desc in Model.DescriptionParameters)
            {

                <dt style="font-weight:bold">@desc.Description:</dt>
                <dd style="margin-top:10px">@desc.DescriptionParameter</dd>
            }
        </dl>
    </div>
</div> 



             
           
               

