@model OnlineShop.Models.OnlineShopDatabase.Goods.Product
@using OnlineShop.Models.OnlineShopDatabase.Goods;
<link rel="stylesheet" type="text/css" href="~/Content/ShowOneProduct.css" />
<div id="ProductContainer">
    <div>
        <h1>
            @Model.Name @Model.Article @Model.Price $
        </h1>
        <h2>
            Date Added:@Model.DateAdded
        </h2>
    </div>
    <div>
        <div>
            <img src="@Url.Content(Model.Picture)" alt="Image" />
        </div>
        <div>
            <dl>
                @foreach (DescriptionParameters desc in Model.Descriptions)
                {
                    <dt style="font-weight:bold">@desc.Description:</dt>
                    <dd style="margin-top:10px">@desc.DescriptionParameter</dd>
                }
            </dl>
            <br />
            <button value="@Model.Id">
                Buy
            </button>
        </div>
    </div>
</div>








