

<link type="text/css" rel="stylesheet" href="~/Content/Header.css?Wednesday 20th of July 2016 07:45:21 AM" />
    <script src='@Url.Content("~/Scripts/jquery-3.1.0.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")' type="text/javascript"></script>
    <div id="Header">
        <ul id="HeaderList">
            <li class="listForHead">  
                <a class="menuItems" href="http://localhost:18157/MainPage/Index">
                    <h3 class="MenuNavItem">Main</h3>
                </a>       
            </li>
            <li class="listForHead">
                <h3  class="MenuNavItem">
                    @Html.ActionLink("Methods of delivery", "MethodsOfDelivery", "Menu")
                </h3>
            </li>
            <li class="listForHead">
                <h3  class="MenuNavItem">
                    @Html.ActionLink("About Shop","AboutShop","Menu")
                </h3>
            </li>
            <li class="listForHead">              
                    <h3  class="MenuNavItem">
                         @Html.RouteLink("Contacts", "MenuRoute")
                    </h3>            
            </li>
            <li  class="listForHead">
                <div id="SignInMenu">
                    <h4 class="MenuNavItem">
                        @Html.ActionLink("Sign in", "AboutShop", "Menu")
                    </h4>
                    <h4 class="MenuNavItem" style="margin-left:6px">
                        @Html.ActionLink("Sign up", "AboutShop", "Menu")
                    </h4>
                    <div id="AuthPartWin">
                        <button id="signInHead">Sign in</button>
                        <div  id="authSectionDevider">
                            <span style="display:inline-block">or</span>
                        </div>
                       
                            <a href="#">
                                Create accaunt
                            </a>
                            <p>
                                Sign up to be able to buy products from shop
                            </p>
                        
                      
                    </div>
                </div>
            </li>

        </ul>
    </div>

