
@using OnlineShop.Models
@using OnlineShop.Models.OnlineShopDatabase.NewsDataBase
@model List<NewsList>
<ul id="newsContainer">
    @foreach (NewsList news in Model)
    {
        <li class="news">
            <div>
                <div>
                    <a  style="text-decoration: none; color: black" href="@news.FullPageLink">
                        <h4>@news.Title @news.categories.ToString()</h4>
                        <p>@news.ShortDiscription</p>
                        <p> @news.DateAdded </p>
                    </a>
                </div>
                <div >
                    <a  href="@news.FullPageLink">
                        <img style="width:200px;height:auto" src="@Url.Content(@news.PreviewPicture)" />
                    </a>
                </div>
            </div>
        </li>
    }
</ul>

