<link type="text/css" rel="stylesheet" href="~/Content/ShowUserProfile.css" />
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using OnlineShop.Models.OnlineShopDatabase
@using OnlineShop.Models.OnlineShopDatabase.Authentication
@{ 
    UserManager<User> userManager = new UserManager<User>(new UserStore<User>(new OnlineShopDbContext()));
}
@model OnlineShop.Models.OnlineShopDatabase.Authentication.User
    <div id="userContainer">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    User name
                </dt>
                <dd>
                    @Model.UserName
                </dd>
                <dt>
                    Email:
                </dt>
                <dd>
                    @Model.Email
                </dd>
                <dt>
                    Name:
                </dt>
                <dd>
                    @Model.Name
                </dd>
                <dt>
                    Second name:
                </dt>
                <dd>
                    @Model.SecondName
                </dd>
                <dt>
                    Age:
                </dt>
                <dd>
                    @Model.Age
                </dd>
                <dt>
                    Country:
                </dt>
                <dd>
                    @Model.Country
                </dd>
                <dt>
                    Phone number:
                </dt>
                <dd>
                    @Model.PhoneNumber
                </dd>
            </dl>
        </div>
        <div>
            @if (Model.Picture != null)
            {
                <img src="@Url.Content(Model.Picture)" />
            }
            else
            {
                <img src="https://augustschell.com/sites/default/files/No_image_available.jpg" />
            }

        </div>
        <div>
            <ul>
                <li>
                    <a  class="editProfile" href=@Model.Id>
                        edit profile
                    </a>
                </li>
                <li>
                    <a href="#">
                        show bought products
                    </a>
                </li>
                <li>
                    <a href="#">
                        show favorite products
                    </a>
                </li>
                @if (userManager.IsInRole(Model.Id, "Admin"))
                {
                    <li>
                        <a href="#">
                            admin features
                        </a>
                        <ul>
                            <li>
                                <a  href="#">
                                    Add product
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Remove product
                                </a>
                            </li>
                            <li>
                                <a class="showAccaunts" href="#">
                                    Show accaunts
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>

        </div>
    </div>
